* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* navbar */
.nav-container{
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  height: 12vh;
  background-color: rgba(182, 24, 225, 0.811);
}

.navbar-logo{
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 4vh;
  cursor: pointer;
}

.ver-carrito{
font-size:25px ;
margin-right: 20px;
margin-top: 3.5vh;
cursor: pointer;
}

.banner{
background-size: cover;
background-position: center;
height: 90vh;
background-image: linear-gradient(rgba(253, 121, 242, 0.4),rgba(0,0,0,0.4)),
url(https://i.pinimg.com/564x/29/7c/36/297c36961b695d19967957e9169d1380.jpg)

}

.banner-container{
  text-align: center;
padding: 15% 0;
}

.banner h1{
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.shop-content{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 30px 80px 0px 80px;
}

.cardTops img {
  width: 50%;
  height: 50%;
}


.cardTops{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 200px;
margin: auto;
text-align: center;
font-family: Arial;
border-radius: 20%;
}

.precio{
  color: gray;
  font-size: 22px;
}

.cardButton{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:rgba(176, 9, 162, 0.849);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 50px;
}

.cardButton:hover{
opacity: 0.7;
}

.modal-container{
  width: 60%;
  margin: 0 10%;
  max-height: 88vh;
  color: #fff;
  background-color: #6e04a2;
  display: flex;
flex-direction: column;
align-items: center;
/* para el top */
position: fixed;
overflow: auto;
z-index: 9;
top:12vh;
scrollbar-color: none;
}
/* sacar barrita de scroll */
.modal-container::webkit-scrollbar{
  display:none;
}

.modal-header{
  display: flex;
  justify-content: space-around;
  background-color: rgb(81, 26, 116);
 color: #fff;
 width: 100%;
}
.modal-container div img{
  width: 120px;
  height: 120px;
}

.modal-header-title{
  justify-self: start;
}
.modal-header-button{
  cursor:pointer;
  top:0;
  right: 0;
}
.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}
.total-content{
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

.cantidad-carrito{
background-color: pink;
color: black;
border-radius: 50px;
font-size: 12px;
padding: 4px;
top: 37px;
right: 14px;
position: absolute;
display: none;
}

.restar{
  cursor: pointer;
}

.sumar{
  cursor: pointer;
}

.delete-product{
  cursor: pointer;
}